
  
 
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }


  ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

li {
    display: table-cell;
}
 
.DailyChange{
  padding:0 !important;
  margin-left: 1px;
  width:130px;
  font-size:1rem;
}

.MuiTableCell-root.MuiTableCell-head.DailyChange.MuiTableCell-alignRight{
  font-size:1rem;
}

.Arrows{
  /* padding-right:20 !important;
  margin-right: 100px; */
  padding-top: 50px;
  padding-right: 500px;
  padding-bottom: 50px;
  padding-left: 1px;
  
}

.tab-pane.container.active.table1{
  margin-left:20px;
  border:0px;
}

.tab-pane.container.fade.table2.actove.show {
  margin-left:40px;
}
.rowTitleTable1{
  margin-top:20px;
  width:100%;
  padding-left:400px
}

.rowTitleTable{
  margin-top:20px;
  width:100%;
}

.divLoading{
  padding-top:10px
}
.effect7{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
  padding-top:15px;
    padding-left:15px;
    padding-right:30px;
    padding-bottom:15px;
    /* width:70% */
}

/* .ExtraColumn{
  width:30px
} */

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  width:10px
}

.MuiTableCell-root {
  width:10;
}

caption {
  color: black;
}
td.MuiTableCell-root{
  padding:0px;
  font-size:1em;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignRight{
  padding:30px;
  font-size:1rem;
  letter-spacing: 0em;
}

span.MuiButtonBase-root.MuiTableSortLabel-root{
  font-size:1rem;
}

td.MuiTableRow-root.MuiTableRow-head{
  padding:30px;
  font-size:2rem;
}

.MuiTableCell-root.MuiTableCell-head.table2.MuiTableCell-alignRight{
  padding-right:25px;
}

.MuiTableCell-root.MuiTableCell-head.table3.MuiTableCell-alignRight{
  padding-right:25px;
}




  
  
  